.product-details-container {
  display: flex;
  height: calc(100vh - 100px);
}

.product-details-left-side-container{
  display: flex;
  flex-direction: column;
  width: 40vw;
  padding: 30px 40px;
  gap: 20px;
}

.name-image-product-container {
  background-color: var(--white);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 40px 70px;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.name-image-product-container h4 {
  font-weight: 700;
}

.name-image-product-container img {
  border-radius: 12px;
  width: 100%;
}

.product-details-right-side-container{
  width: 60vw;
  background-color: var(--white);
}